

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-group">

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="nome" placeholder="seu nome">
  </mat-form-field>
  <span *ngIf="!registerForm.get('nome').valid && registerForm.get('nome').touched" class="info">Por favor, entre um nome valido!</span>

  <br>

  <mat-form-field>
    <mat-label>Data de Nascimento</mat-label>
    <input matInput type="text" formControlName="dataNasc" placeholder="00/00/0000" [dropSpecialCharacters]="false" mask="d0/M0/0000">
  </mat-form-field>

  <span *ngIf="!registerForm.get('dataNasc').valid && registerForm.get('dataNasc').touched" class="info">Por favor, entre uma data no formato dd/MM/yyyy</span>
  
  <br>

  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="000.000.000-00">
  </mat-form-field>

  <span *ngIf="!registerForm.get('cpf').valid && registerForm.get('cpf').touched" class="info">Por favor, entre um CPF valido!</span>

  <br>

  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <input matInput type="text" formControlName="endereco" placeholder="Rua teste...">
  </mat-form-field>

  <span *ngIf="!registerForm.get('endereco').valid && registerForm.get('endereco').touched" class="info">Por favor, entre um endereço valido!</span>

  <br>

  <mat-radio-group name="sexo" formControlName="sexo">
    <mat-radio-button value="Masculino" name="Masculino" color="primary">Masculino</mat-radio-button>
    <mat-radio-button value="Feminino" name="Feminino" color="primary">Feminino</mat-radio-button>
  </mat-radio-group>

  <br>

  <button mat-flat-button [disabled]="registerForm.invalid" color="primary" >Accent</button>
</form>

<p>{{finalValues | json}}</p>