/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: rgb(123,7,255);
    background: radial-gradient(circle, rgba(123,7,255,1) 11%, rgba(252,70,251,1) 100%);}
